body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

#canvas3d {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#video-overlay {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 320px;
    height: 240px;
    z-index: 100;
}

#videoFeed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border-radius: 8px;
    overflow: hidden;
}

#outputCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

#debug-overlay {
    position: fixed;
    top: 20px;
    left: 348px;
    width: 280px;
    height: 220px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    font-family: monospace;
    border-radius: 8px;
    z-index: 1000;
}

.dg.ac {
    position: fixed;
    top: 20px !important;
    right: 20px !important;
    z-index: 2000 !important;
    border-radius: 8px;
} 

.dg.main{
    border-radius: 8px;
    overflow: hidden;
}
 .dg.main .close-button.close-bottom {
    border-radius: 8px;
    overflow: hidden;
    margin-top: 8px;
}

video {
    transform: scaleX(-1);
}
